<!DOCTYPE html>
<html>
  <head>
    <title>Circle Area</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Circle Area</h1>
      <img src="https://cdn.clipart.email/00b5cf70121bc7c2883ff8a8929ea2d6_circle-cartoon-clipart_512-512.jpeg" alt="cute circle with face" width=50%>
      <p>Circle Radius: @Model.Radius</p>
      <p>Circle Area: @Model.GetArea()</p>
    </div>
  </body>
</html>