<!DOCTYPE html>
<html>
  <head>
    <title>Circle</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Circle Form</h1>
        <form action="/circle" method="post" class="form-group">
        <label for="radius">Enter the radius:</label>
        <input id="radius" name="radius" type="text" required>
        <button type="submit" class="btn btn-danger">Calculate Area!</button>
        <br>
        <a href="/"><button type="button" class="btn btn-info">Back</button></a>
      </form>
    </div>  
  </body>
</html>